/* shared style */
.display-flex{
    display: flex;
}
.black{
    color: black;
}
.color{
    color: #E95A08;
}
.dark3{
    color: rgba(0, 0, 0, 0.5);
}

/* Navbar */
header{
    align-items: center;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 300px);
    padding-left: 150px;
    padding-right: 150px;
    
    /* border: 2px solid orange; */
}

.nav-items{
    text-decoration: none;
    /* margin-right: 150px; */
    max-width: 415px;
    gap: 48px;
    justify-content: space-around;
}
.nav-items li a{
    justify-content: space-around;
    
    text-decoration: none;
    
}
.nav-items li{
    list-style: none;
}
#home{
    color: #252432;
}
.shop{
    color: #8987A1;
}
.cart{
    color: black;
}

/* Hero section */
.hero {
margin: 120px 150px;
align-items: center;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
max-width: calc(100% - 300px);
padding-left: 150px;
padding-right: 150px;
/* border: 2px solid orange; */
max-width: 1140px;
max-height: 460px;
}

.hero-text h1 {
font-size: 2.8rem;
color: #e91e63;
}

.hero-text p {
margin-top: 10px;
font-size: 1rem;
}

